<div class="row">
    <div class="col-sm">        
        {{input
            value=this.value
            key-up=(action "handleFilterEntry")
            class="form-control"
            placeholder="Search By Profession"
        }}
    </div>
</div>
{{yield this.results}}