<div class="site-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="display-4">Celebrities Magazine</h2>
  <p class="lead">Welcome to Celebrities magazine site. You can find details about your 
      favorite celebrities from various areas such as sports, activists, actors, performers etc
  </p>
</div>

